$base-color: #2b2b2b;
$base-color2: #4a4a4a;
$base-color3: #7e7d7d;

$text-color: rgb(213, 213, 213);

$bish-color: rgb(255, 255, 126);
$bosh-color: rgb(252, 178, 125);
$number-color: rgb(125, 252, 125);

body {
  padding: 0px;
  margin: 0px;
  color: $text-color;
  background-color: $base-color3;
}

main {
  max-width: 1120px;
  border: 1px solid $base-color;
  background-color: $base-color;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-color: $base-color;

  h1 {
    margin: 0;
    padding: 15px;
    font-size: 45px;
  }
}

footer {
  background-color: $base-color;
  padding: 0px;
  margin: 0px;
}

section {
  background-color: $base-color2;
}

#info-section {
  transition: all 0.3s ease-in-out;
  display: none;
  width: 100%;

  div {
    text-align: center;
    border-bottom: 1px solid $base-color;

    h2 {
      font-size: 35px;
    }

    h3 {
      font-size: 25px;
    }
  }
}

#info-section.visible {
  display: block;
}

#info-boxes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  padding: 10px;

  div {
    max-width: 500px;
    border: 1px solid $base-color;
  }

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
}

.hidden {
  display: none;
}

.bish {
  color: $bish-color;
}

.bosh {
  color: $bosh-color;
}

.number {
  color: $number-color;
}
